[Desktop Entry]
Version=1.0
Type=Application
Name=mitm6
Comment=Empoisonnement IPv6 / DNS
Exec=xfce4-terminal --title=mitm6 -e "pentbox-run mitm6"
Terminal=false
Icon=utilities-terminal
Categories=X-Pentbox-AD;
