[Desktop Entry]
Version=1.0
Type=Application
Name=secretsdump.py
Comment=Dump de secrets (impacket)
Exec=xfce4-terminal --title=secretsdump.py -e "pentbox-run secretsdump.py"
Terminal=false
Icon=utilities-terminal
Categories=X-Pentbox-AD;
