[Desktop Entry]
Version=1.0
Type=Application
Name=ldapsearch
Comment=Requêtes LDAP
Exec=xfce4-terminal --title=ldapsearch -e "pentbox-run ldapsearch"
Terminal=false
Icon=utilities-terminal
Categories=X-Pentbox-Recon;
