[Desktop Entry]
Version=1.0
Type=Application
Name=coercer
Comment=Coercition d'authentification
Exec=xfce4-terminal --title=coercer -e "pentbox-run coercer"
Terminal=false
Icon=utilities-terminal
Categories=X-Pentbox-AD;
