[Desktop Entry]
Version=1.0
Type=Application
Name=nikto
Comment=Scanner de vulnérabilités web
Exec=xfce4-terminal --title=nikto -e "pentbox-run nikto"
Terminal=false
Icon=utilities-terminal
Categories=X-Pentbox-Web;
